[Unit]
Description=Manage Java backend

[Service]

EnvironmentFile=/home/backend/environment_file.conf
WorkingDirectory=/opt/sausage-store/bin
ExecStart=/bin/java -Xms128m -Xmx256m -jar ${BACKEND_EXE} --server.port=${BACKEND_PORT}
User=backend
Group=backend
Type=simple
Restart=on-failure
RestartSec=10
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target